<html  ng-app="http">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="resources/script/angular.min.js"></script>
<script type="text/javascript" src="resources/script/http.js"></script>
<script type="text/javascript" src="resources/script/angular-route.js"></script>
</head>

<body id="corpo">
	<p>Resposta Servlet</p>
	<button ng-controller="pegarResposta" ng-click="pegarResposta()">Pegar resposta</button>
	<input type="text" id="resposta"/>
	<br/><br/>
	
	<p>Trabalhando com servidor 2</p>
	<button ng-controller="pegarResposta2" ng-click="pegarResposta2()">Pegar Resposta</button>
	<input type="text" id="resposta2"/>
	<input type="text" id="resposta3"/>
	<input type="text" id="resposta4"/>
	<br/><br/>
	
	<p>Trabalhando com Erros</p>
	<button ng-controller="pegarRespostaErro" ng-click="pegarRespostaErro()">Pegar Erro</button>
	<input type="text" id="respostaerro"/>
	<br/><br/>
	
	<p>Trabalhando com o servidor Json</p>
	<div ng-controller="pegarRespostaJson">
		<ul>
			<li ng-repeat="x in lista">{{x.nome + ' - ' + x.cidade}}</li>
		</ul>
	</div>
	
</body>
</html>